<form>
  <mat-icon (click)="changeServer()" class="back-button"> arrow_back</mat-icon>
  <mat-form-field [formGroup]="formGroup">
    <mat-label>{{ "user.name" | translate }}</mat-label>
    <input [formControlName]="'username'" autocomplete="off" matInput placeholder="{{ 'user.name' | translate }}" />
  </mat-form-field>
  <mat-form-field [formGroup]="formGroup">
    <mat-label>{{ "user.password" | translate }}</mat-label>
    <input [formControlName]="'password'" autocomplete="off" matInput placeholder="{{ 'user.password' | translate }}" type="password" />
  </mat-form-field>
  <div class="button-container">
    <button (click)="login()" [disabled]="formGroup.invalid" color="primary" mat-raised-button>{{ "actions.login" | translate }}</button>
  </div>
</form>
<finwa-http-progress-bar (responseReceived)="onLoginSuccess($event)" [requests]="requests$" class="progress-bar"></finwa-http-progress-bar>
