:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 33%;
  margin: 2rem;
}

.back-button {
  cursor: pointer;
  margin-bottom: 17.5px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.progress-bar {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  width: calc(100% - 2rem);
}
