<form>
  <div class="form-fields">
    <mat-form-field [formGroup]="formGroup" class="protocol-input">
      <mat-label>{{ "setup.protocol" | translate }}</mat-label>
      <mat-select [formControlName]="'protocol'">
        <mat-option [value]="'https'">https</mat-option>
        <mat-option [value]="'http'" [matTooltip]="'setup.http-tooltip' | translate" matTooltipPosition="left" matTooltipShowDelay="250" matTooltipHideDelay="250">
          http
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="separator">://</span>
    <mat-form-field [formGroup]="formGroup" class="address-input">
      <mat-label>{{ "setup.address" | translate }}</mat-label>
      <input matInput [formControlName]="'address'" placeholder="your.domain.org" autocomplete="off" />
    </mat-form-field>
  </div>
  <div class="button-container">
    <button mat-raised-button (click)="testBackendConfiguration()" color="primary" [disabled]="formGroup.invalid">{{ "setup.next" | translate }}</button>
  </div>
</form>
<finwa-http-progress-bar
  class="progress-bar"
  [requests]="requests$"
  [displayErrors]="false"
  (responseReceived)="onResponseReceived($event)"
  (errorOccurred)="onErrorOccurred()"
></finwa-http-progress-bar>
