<form>
  <div class="form-fields">
    <mat-form-field [formGroup]="formGroup" class="protocol-input">
      <mat-label>{{ "setup.protocol" | translate }}</mat-label>
      <mat-select [formControlName]="'protocol'">
        <mat-option [value]="'https'">https</mat-option>
        <mat-option [matTooltip]="'setup.http-tooltip' | translate" [value]="'http'" matTooltipHideDelay="250" matTooltipPosition="left" matTooltipShowDelay="250">
          http
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="separator">://</span>
    <mat-form-field [formGroup]="formGroup" class="address-input">
      <mat-label>{{ "setup.address" | translate }}</mat-label>
      <input [formControlName]="'address'" autocomplete="off" matInput placeholder="your.domain.org" />
    </mat-form-field>
  </div>
  <div class="button-container">
    <button (click)="testBackendConfiguration()" [disabled]="formGroup.invalid" color="primary" mat-raised-button>{{ "setup.next" | translate }}</button>
  </div>
</form>
<finwa-http-progress-bar (errorOccurred)="onErrorOccurred()" (responseReceived)="onResponseReceived($event)" [requests]="requests$" class="progress-bar"></finwa-http-progress-bar>
